<div class="container pt-3">
    
    <!-- <strong>{{auth.accessToken}}</strong> -->
    <!-- <strong>{{auth.userId}}</strong> -->

    <pre *ngIf="auth.isLoggedIn">
        <code>{{ auth.userProfile | json }}</code>
    </pre>

    <!-- <div *ngIf="auth.userId">
        {{auth.userId}}
    </div> -->

    <div *ngIf="!auth.isLoggedIn">
    <!-- <div> -->
        <p>Please login first to view or create new schedules</p>
        <button type="button" class="btn btn-primary btn-lg" (click)="auth.login()">Login in</button>
    </div>

    <div *ngIf="auth.isLoggedIn">
        <!-- <div> -->
            <button type="button" class="btn btn-primary btn-lg" (click)="auth.logout()">Logout</button>
        </div>    

</div>

