<div class="container pt-5" >
  
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
          <!-- (viewDateChange)="closeOpenMonthViewDay()" -->
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView  [view]="view" [(viewDate)]="viewDate">
          <!-- (viewDateChange)="closeOpenMonthViewDay()" -->
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          Month
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          Day
        </div>
      </div>
    </div>
  </div>
  <br />

  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" 
      [viewDate]="viewDate" 
      [events]="events"
      [refresh]="refresh" 
      (dayClicked)="changeDay($event.day.date)">
    </mwl-calendar-month-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" 
      [viewDate]="viewDate" 
      [events]="events" 
      [refresh]="refresh"
      [dayStartHour]="dayStartHour"
      [dayEndHour]="dayEndHour"        
      (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-day-view>
  </div>

  
  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">From {{modalData?.event.start | date:'HH:mm'}} to {{modalData?.event.end | date:'HH:mm, E, MMM dd, yyyy'}}</h5>
    </div>
    <div class="modal-body">
      <div *ngIf="reservationResponse">
        <ngb-alert [type]="responseType" [dismissible]="false">{{reservationResponse}}</ngb-alert>
      </div>        
      <div>
        <form (ngSubmit)="makeReservation(modalData?.event)" #guestForm="ngForm">
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="guestFirstName">First name</label>
              <input type="text" class="form-control" id="guestFirstName" [(ngModel)]="guestFirstName" name="guestFirstName" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="guestLastName">Last name</label>
              <input type="text" class="form-control" id="guestLastName" [(ngModel)]="guestLastName" name="guestLastName" required>
            </div>         
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="guestEmail">Email Address</label>
              <input type="email" class="form-control" id="guestEmail" [(ngModel)]="guestEmail" name="guestEmail" required>
            </div>
          </div>
          <div class="form-group">
            <label for="guestComment">Your Comment</label>
            <textarea class="form-control" id="guestComment" [(ngModel)]="guestMessage" name="guestComment" rows="3"></textarea>
          </div>       
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" value="" id="guestConsent" [(ngModel)]="modalData?.event.guestConsent" name="guestConsent" required>
              <label class="custom-control-label" for="guestConsent">
                Agree with terms and conditions
              </label>
            </div>
          </div>
        </form>        
      </div>  
    </div>
    <div class="modal-footer">
      <button *ngIf="showReserveButton" type="submit" class="btn btn-primary" [disabled]="!guestForm.form.valid" (click)="makeReservation(modalData?.event)">
        Reserve
      </button>      
      <button #closeModal data-dismiss="modal" class="btn btn-outline-secondary" (click)="close()">
        Close
      </button>
    </div>
  </ng-template>
  
</div>
